$base-color-1: #F7F7F7;
$base-color-2: #FFFFFF;
$base-color-3: #667EEA;
$base-color-4: #764BA2;


$primary-text: #333;
$secondary-text: #fff;

$linear-color:linear-gradient(to right, $base-color-3, $base-color-4);
