@import "../color";

.footer{
  height: 40px;
  width: 100%;
  background: $base-color-5;
  display: flex;
  justify-content: center;
  align-items: center;
  p{
    font-size: 1.4rem;
    color: $secondary-text;
    text-align: center;
  }
}
