@import "../color";

.about{
  background: $linear-color;
  &_color{
    color: $secondary-text;
  }
}

.about_wrap{
  max-width: 800px;
  width: 100%;
  margin: 4rem auto 0;
  display: flex;

  &-image{
    margin-right: 4rem;
  }
}

.about_profile{
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
  p{
    text-align: center;
    padding: 1rem;
  }
  @include tablet{
    display: none;
  }
}
