@import '../color';

.feature {
  background: $base-color-2;
}

.feature_wrap {
  display: flex;
  margin-top: 6rem;
  justify-content: space-evenly;
  width: 100%;

  @include tablet {
    flex-direction: column;
  }

  &-image {
    margin-right: 4rem;
    width: 100%;
    height: auto;
    max-width: 648px;
    @include tablet {
      @include responsive-content;
    }
  }

  &-description {
    > div {
      margin-top: 2rem;
      @include tablet {
        @include responsive-content;
      }
    }

    > div:first-child {
      margin-top: 0;
    }
    a {
      text-decoration: none;
      color: #219be8;
    }
  }
}
