@import "../color";

.feature_wrap{
  background: $base-color-2;
}

.feature_content{
  display: flex;
  margin-top: 6rem;
  justify-content: space-evenly;

  &-image {
    margin-right: 4rem;
    width: 100%;
    height: auto;
    max-width: 648px;
  }

  &-description{
    >div{
      margin-top: 2rem;
    }

    >div:first-child{
      margin-top: 0;
    }
    a{
      text-decoration: none;
      color: #219BE8;
    }
  }
}
