@import "../mixin";
@import "../color";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  @include tablet {
    font-size: 50%;
  }

  @include phone{
    font-size: 50%;
  }
}

body {
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', メイリオ,
    Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  color: #333;
  text-size-adjust: 100%;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
iframe{
  max-width: 100%;
  margin: 0;
  vertical-align: bottom;
}


.text_center{
  text-align: center;
}

.bg_color{
  background: $base-color-1;
}

.sp {
  display: none;
}

.pc {
  display: block;
}

.mt{
  margin-top: 3rem;
}

// responsive gnav
@include phone {
  .sp {
    display: block;
  }

  .pc {
    display: none;
  }
}
